.img-responsive {
    height: auto;
    width: auto;
    padding-left: 0;
    padding-top: 0;
    max-height: 47px;
    max-width: 220px;
}

.navbar-brand-my {
    padding: 0px;
}
/*.navbar-brand>img {*/
    /*height: 100%;*/
    /*padding: 0px;*/
    /*width: auto;*/
/*}*/